.error {
  color: red;
}

.container {
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--grey-background);
  padding: 2rem;
  position: relative;
}

.form-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}

.input-header::after {
  display: block;
  content: "";
  height: 0.01rem;
  width: 100%;
  background-color: var(--line-color);
  margin-top: 3rem;
}

.input-group {
  display: flex;

  width: 100%;
  height: 4rem;
}
.input-header {
  font-size: 2.5rem;
  text-align: center;
}

*:focus {
  outline: none;
}

.form-group {
  font-size: 1.6rem;
}

.form-control {
  width: 90%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.6rem;
  border: solid 0.1rem var(--primary-light);
}

.input-label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  height: 100%;
}

.input-icon {
  position: relative;
  height: 100%;
  width: 10%;
  background-color: var(--primary-light);
}

.form-group {
  margin-top: 1rem;
}

.input-icon-image {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  width: 10rem;
  border: solid 0.1rem var(--primary-light);
  background-color: var(--app-white);
}
