.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(130, 235, 130);
}
.form__input:focus:invalid {
  border-bottom: 3px solid red;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.user__login-form {
  width: 100%;
  height: 100%;
  padding: 8rem;
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url("https://img5.goodfon.com/wallpaper/nbig/5/e3/blue-material-design-tekstura-fon-linii-background.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 40rem;
}
.book__form {
  width: 50%;
  padding: 6rem;
}
.switch-button {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  cursor: pointer;
  color: red;
  font-size: 1.6rem;
}

.app-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-text {
  color: var(--app-black);
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
